.section1 {
    display: inline-block;
    background-image: $color-image-back, url("../fotos/Fondopaginas/FONDO1.jpg");
    border-radius: 5px;
    border-style: double;
    border-color: $color-foot;
    height: auto;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    font-family: $text-font, sans-serif;
    letter-spacing: 1px;
  }
  .section2 {
    background-image: $color-image-back, url("../fotos/Fondopaginas/FONDOPLANTAS.jpg");
    height: auto;
    border-radius: 5px;
    border-spacing: 10px;
    border-style: double;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    padding: 20px;
    margin: 30px;
    color: $color-foot;
    font-family: $text-font, sans-serif;
  }
  
  .section3 {
    background-image: $color-image-back, url("../fotos/Fondopaginas/FONDO3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 40px;
    height: auto;
    color: $color-foot;
    font-family: $text-font , sans-serif;
  }
  
  .section4 {
    background-image: $color-image-back, url("../fotos/Fondopaginas/FONDO2.jpg");
    height: auto;
    border-radius: 5px;
    border-style: double;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 40px;
    color: $color-foot;
    font-family: $text-font , sans-serif;
  }
  .section5 {
    height: auto;
    border-radius: 5px;
    border-style: double;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 40px;
    color: $color-foot;
    font-family: $text-font , sans-serif;
  }
  
  .section6 {
    background-image: $color-image-back, url("../fotos/Fondopaginas/FONDO3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 40px;
    height: auto;
    border-radius: 5px;
    border-style: double;
    color: $color-foot;
    font-family: $text-font , sans-serif;
  }